---
const { title, data } = Astro.props;
---

<h3 class="text-xl font-bold py-5">{title}</h3>
<div class="">
  <table class="table-fixed">
    <tbody class="\">
      {
        data.map((item, index) => {
          return (
            <tr class="border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="py-2 pr-5 ">
                {item.link ? (
                  <a class="text-primary" href={item.link} target="_blank">
                    {' '}
                    {item.label}
                  </a>
                ) : (
                  item.label
                )}
              </td>
              <td class="py-2 pr-5 "> {item.value} </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
